.button {
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  border: none;
  color: var(--white-color);
  border-radius: 29px;
  font-weight: 400;
  font-style: normal;
}

.small {
  font-size: 16px;

  padding: 10px 25px;
}

.big {
  font-size: 15px;
  text-transform: uppercase;
  box-shadow: 0px 10px 40px 0px #7a81be29;

  padding: 20px 60px;
}

.accent:hover {
  background: var(--primary-hover-color);
}

.accent {
  background: var(--primary-color);
}
