:root {
  --font: "Open Sans", serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --text-color: #000000;
  --seporator-color: #d4d6e0;
}

body {
  font-family: "Open Sans", serif;
  margin: 0;
}
